main{
    text-align: center;
}

@keyframes mover {
    0% { transform: translateX(-100px); }
    50% { transform: translateX(100px); }
    100% { transform: translateX(-100px); }
}
@keyframes rotar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(720deg); }
}

.title1{
    animation: movaer 1s infinite;
}

.title2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px;
    animation-timing-function: ease-in-out;
    animation: rotaar 1s infinite;

}

.title3{
    font-family: 'Courier', monospace;
}

.title1::before {
    content: "👉 ";
    color: #d35400;
}
.title1::after {
    content: " 👈";
    color: #2980b9;
}

/* .title2::after {
    content: " 𐓏";
}

.title2::before {
    content: "𐓏 ";
}

.title3::after {
    content: " ☢︎";
}

.title3::before {
    content: "☢︎ ";
} */



footer{
    padding: 50px;
    text-align: center;
}

.button {
    background-color: rgb(71, 198, 71);
    border-radius: 20px;
    border: 0;
    color: white;
    width: 200px;
    height: 100px;
    transition: transform 0.15s ease, box-shadow 0.3s;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    overflow: hidden;
}

.button::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    height: 100%;
    width: 200%;
    background-color: rgba(255, 255, 255, 0.3);
    transform: skewX(-45deg);
    transition: transform 0.5s ease;
}

.button:hover{
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.button:hover::before{
    transform: translateX(100%)
}