body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #668ba4;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    height:500px;
}

nav {
    width: 20%;
    background: #ecf0f1;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

main {
    width: 80%;
    padding: 20px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.contenido {
    display: flex;
    gap: 15px;	
}

.tarjeta {
    background: white;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2{
    width:300px;	   
}
footer {
    text-align: center;
    padding: 15px;
    background: #2c3e50;
    color: white;
}

