body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    min-height: 100vh;
    font-size: 30px;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

@keyframes animate {
    0% { transform: scale(100%);}
    50% { transform: scale(110%);}
    100% { transform: scale(100%);}
}

@keyframes slide1 {
    0% { transform: translateX(-100%); }
    50% { transform: translate(100%);  }
    100% { transform: translateX(-100%); }
}

@keyframes slide2 {
    0% { transform: translateX(-50%); }
    50% { transform: translate(50%); scale: (20%);}
    100% { transform: translateX(-50%); }
}

.title{
    animation: animate 1s infinite;
    overflow: hidden;
}

.title::before{
    content: "";
    position: absolute;
    width: 90%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    animation: slide2 1s infinite;
}