html{
    padding: 0;
    margin: 0;
}

form{
    display: flex;
    align-items: left;
    flex-direction: column;

    margin: auto;
}

form fieldset{
    display: flex;
}

label{
    display: block;
}

input [type="text"]{}